<form #f="ngForm" (ngSubmit)="submit(f)">
  
  <div ngModelGroup="contact">
  <div class="from-group">
    <label for="FirstName">FirstName</label>
    <input
      required minlength="4" 
      maxlength="6" 
      pattern="[a-zA-Z]+" 
      ngModel name="firstName" 
      #firstName="ngModel" 
      class="form-control" 
      id="firstName" 
      type="text">

    <div  class="alert alert-danger" 
          *ngIf="firstName.touched &&!firstName.valid">
    <div  *ngIf="firstName.errors.required">
       ce champe est opligatoire
    </div>
    <div *ngIf="firstName.errors.minlength">
       ce champs doit avoir au moins 4 chars !!
    </div>
    <div *ngIf="firstName.errors.pattern">
       first name doit etre alphabet
    </div>
</div>
</div>


 <div class="from-group">
    <label for="LastName" >LastName</label>
    <input ngModel name="LastName" #firstName class="form-control" id="LastName" type="text">
  </div>

  <div class="from-group">
    <label for="comment" >Comment</label>
    <textarea  ngModel name="Coment" #Coment class="form-control" id="comment" type="text"></textarea>
  </div>
</div>

<div>
  <label for="contactMethode"> Methode de contact</label>
  <select class="form-control" id="contactMethode" ngModel name="contactMethode">
    <option *ngFor="let methode of contactMethodess" [value]="methode.id" > {{ methode.name }} </option>
  </select>
</div>


<div class="radio" *ngFor="let methode2 of contactMethodess">
  <label for="">
     <input type="radio"  ngModel name="contactMethode2" [value]="methode2.id">
     {{methode2.name}}
  </label>
</div>



<div class="checkbox"> 
  <label>  
    <input type="checkbox" ngModel name="subscribe">S'abonner
  </label>
</div>

<div class="from-group">
  <button class="btn btn-primary" [disabled]="!f.valid">Enregistrer</button>   
</div> 

</form>
<p>
  {{f.value | json}}
</p>


